<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
  

    <p>
      Hi there! I’m Mengti Sun from Beijing, China. I’m a 20-year-old student majoring in Computer Science and Cognitive Science at UC Berkeley. I am familiar with programming in Java, Python, SQL, HTML/CSS, and various front-end and back-end languages. I always love to learn new skills and absolutely eager to accept criticism and new ideas.
    </p>

    <p>
      Aside from programming, I'm deeply into art. I’m familiar with Adobe Photoshop and Illustrator. In my spare time, I like traveling, photography and drawing. You may take a look at my work on the “Gallery” page!
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
